@import url('./reset.css');
@import url('./fonts.css');
@import url('./modules/header.css');
@import url('./modules/sliderTwo.css');
@import url('./modules/footer.css');

body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    background-color: #02070D;
    color: #FFFF;
    letter-spacing: 0.070rem;
}

@media(max-width: 710px) {
    body.lock {
        overflow: hidden;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.container {
    max-width: calc(1191/1440*100%);
    width: 100%;
    height: 100%;
}

.content {
    margin-top: 1.1rem;
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__inside {
width: 100%;
display: flex;
flex-direction: column;
gap: 100px;
}

.content__heading {
    font-size: 2.5rem;
    line-height: 60px;
    border-bottom: 1px solid #52F2DF;
    font-weight: 800;
}

.about {

}

.about__inside {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
row-gap: 4.1rem;
}

@media(max-width: 823px) {
    .about__inside {
        row-gap: 3s.1rem;  
    }
}

.about__intro {
font-size: 3.125rem;
width: 67%;
line-height: 4.6rem;
letter-spacing: 0.10rem;
}

@media(max-width: 823px) {
    .about__intro {
        font-size: 2.3rem;
        width: 100%;
        line-height: 2.5rem;
        align-items: center;
        } 
}

.about__text {
font-size: 2.53rem;
width: 60%;
align-self: end;
line-height: 3.25rem;
}

@media(max-width: 823px) {
    .about__text {
        font-size: 1.50rem;
        width: 100%;
        align-self: center;
        line-height: 2.25rem;
        } 
}