@import url("./reset.css");
@import url('./fonts.css');
@import url('./modules/header.css');
@import url('./modules/cashbox.css');
@import url('./modules/footer.css');

body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    background-color: #02070D;
    color: #FFFF;
    letter-spacing: 0.055rem;
}

body.lock {
    overflow: hidden;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.container {
    max-width: calc(1191/1440*100%);
    width: 100%;
    height: 100%;
}

.content {
    margin-top: 1.1rem;
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__inside {
width: 100%;
display: flex;
flex-direction: column;
gap: 100px;
}

.upcoming {
width: 100%;
}

.upcoming__inside {
    
}

.upcoming__heading {

}

.content__heading {
    font-size: 2.5rem;
    line-height: 60px;
    border-bottom: 1px solid #52F2DF;
    font-weight: 800;
}

.performances {

}

.perfomances__inside {
    margin-top: 3.9rem;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.perfomances__line {
    background: #FFFFFF;
    height: 1.2px;
}

.perfomance {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    row-gap: 2rem;
    width: 100%;
}

.perfomance_one {

}

.perfomance__date {
    font-size: 2.2rem;
    font-weight: 400;
    color: #848484;
    line-height: 3.2rem;
}


.perfomance__grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 60px;
    width: 100%;
}

@media(max-width: 714px) {
    .perfomance___grid {
        grid-template-columns: repeat(2, 1fr); 
        
    } 
}

.perfomance__column {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
padding: 0 8px;
}

@media(max-width: 810px) {
    .perfomance__column {
        gap: 1.5rem;
    } 
}

.perfomance__column_one {

}

@media(max-width: 810px) {
    .perfomance__column_one {
        display: none;
    } 
}

.perfomance__image {

}

.perfomance__column_two {
grid-column: 2 / 4;
}

@media(max-width: 810px) {
    .perfomance__column_two {
        grid-column: 1;
    }
}

.perfomance__heading {
font-size: 2.3rem;
font-weight: 400;
}

.perfomance__subrow {
display: flex;
justify-content: center;
gap: 1rem;
align-items: center;
font-size: 1.55rem;
}

@media(max-width: 502px) {
    .perfomance__subrow {
        flex-direction: column;
        gap: 1rem;
        align-items: start;
        justify-content: start;
    }
}

.perfomance__desc {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
}
.perfomance__icon {
    margin-left: 1.5rem;
}

@media (max-width: 502px) {
    .perfomance__icon {
        margin-left: 0;
        margin-top: 1rem;
    }
}

.perfomance__text {
    line-height: 2.5rem;
}

.perfomance__text > span {
    text-decoration: 1px underline solid;
}

.perfomance__column_three {

}

.perfomance__column_fourth {
align-items: center;
}

.perfomance__button {
background-color:#52F2DF;
width: calc(1349/1440*100%);
height: calc(377/1080*100%);
display: flex;
align-items: center;
justify-content: center;
border-radius: 20px;
}

@media(max-width: 810px) {
    .perfomance__button {
        margin: 5px;
    }
}

.perfomance__button:hover {
    transform: scale(1.05, 1.05);
    background: #FFF;
    outline: 2px solid #52F2DF;
}

.perfomance__button:hover > span {
    transform: scale(1.05, 1.05);
    color: #ff3572;
    background: none;
    cursor: pointer;
}

.perfomance__button > span {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: #02070D;
    text-align: center;
}

.perfomance__time {
    font-size: 2.2rem;
    font-weight: 700;
    
}

.perfomance_two {

}

.perfomance_three {

}

.perfomance_fourth {

}


.perfomance__more {
    
}

.more {
    width: 100%;
    border: 1px solid #FFF;
    border-radius: 1.52rem;
    font-size: 2.25rem;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 5px 5px 2px rgb(34, 33, 33);
}

.more:hover {
    background: #FFF;
    color: #02070D;
    box-shadow: 4px 4px 2px rgb(34, 33, 33);
}

.more:active {
    position: relative;
    top: 2px;
    left: 2px;
    background: #FFF;
    color: #02070D;
    box-shadow: 2px 2px 2px rgb(34, 33, 33);
    }

.footer {
margin-top: 6rem;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
height: 210px;
}

@media(max-width: 774px) {
    .footer {
        height:max-content;
    }
}


.footer__inside {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: auto;
row-gap: 1.2rem;
border-top: 1px solid #52F2DF;
border-bottom: 1px solid #52F2DF;
height: 100%;
justify-items: center;
align-items: center;
}

@media(max-width: 774px) {
    .footer__inside {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: start;
    }
}

.footer__inside > * {
width: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
font-size: 1.75rem;
color: #FFF;
line-height: 2.5rem;
}

@media(max-width: 774px) {
    .footer__inside > * {
        align-items: start;
        justify-content: start;
    }
}

.footer__logo {
    width: 100%;
display: flex;
align-items: center;
justify-content: center;
transition: fill 0.25s ease;
}

.footer__logo > a {
    display: block;
    height: 100%;
    width: 100%;
}

.footer__logo:hover > a > svg {
    max-width: 100%;
    }

.footer__logo:hover > a > svg > path {
    fill: #2a796f;
    }

.footer__nav {

}

.footer__socials {
    
}

.footer__list {

}

.footer__list-item > a{
    color: #FFF;
}

.footer__link {

}

.footer__link:hover {
    color: #52F2DF;
    text-shadow: 2px 2px 30px 10px,Ñ‹ #52F2DF, 3px 3px 5px #000000;
    outline: #FFF;
    transition: all 0.3s ease;
}

.footer__link:active{
    position: relative;
    top: 2px;
    left: 1px;
    transition: all 0.2s ease;
    color:#45d8c7
}

.footer__adress {
display: flex;
flex-direction: column;
align-items: start;
}

@media(max-width: 774px) {
    .footer__adress {
        width: 50%;
    }
}

.footer__adress > span {
text-decoration: 1px underline solid #FFF;
}

.signature {
width: 100%;
display: flex;
align-items: center;
justify-content: center;
margin: 1.9rem 0;
}

.signature__inside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 2rem;
    color: #52F2DF;
    font-size: 1.25rem;
}

@media(max-width: 774px) {
    .signature__inside {
        flex-direction: column;
        align-items: start;
        row-gap: 0.5rem;
    }
}

.signature__site {

}

.signature__developer {

}

