@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    background-color: #02070D;
    color: #FFFF;
    letter-spacing: 0.055rem;
}

body.lock {
    overflow: hidden;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.container {
    max-width: calc(1191/1440*100%);
    width: 100%;
    height: 100%;
}


.header {
width: 100%;
display: flex;
align-items: center;
justify-content: center;
height: 95px;
background: #02070df7;
position: sticky;
z-index: 11 ;
top: 0;
font-size: 1.4rem;
}

.header__inside {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.header__logo {
height: 100%;
width: calc(300/1440*100%);
display: flex;
align-items: center;
justify-content: center;
}

.header__logo > a {
    display: block;
    width: 100%;
}

.header__logo > a:nth-child(2) {
    display: none;
}

@media(max-width: 710px) {
    .header__logo > a:nth-child(1) {
        display: none;
    }
    
    .header__logo > a:nth-child(2) {
        display: block;
        width: 100%;
    }
}

.header__logo > a > svg {
    max-width: 100%;
    width: 100%;
    transition: fill 0.25s ease;
}

.header__logo:hover > a > svg > path {
fill: #2a796f;
transition: fill 0.25s ease;
}

.header__burger {
    width: 38px;
    height: 20px;
    display: none;
    position: relative;
    z-index: 5;
}

@media(max-width: 710px) {
    .header__burger {
        display: block;
    }
}

.header__burger span,  .header__burger::before, .header__burger::after{
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background: #52F2DF;
    left: 0;
    transition: all 0.3s ease;
}

.header__burger::before {
    content: "";
    top: 0;
}

.header__burger::after {
    content: "";
    top: 100%;
}

.header__burger.active::before{
    top: 50%;
    transform: rotate(45deg);
    transition: all 0.3s ease;
}

.header__burger.active::after{
    top: 50%;
    transform: rotate(-45deg);
    transition: all 0.3s ease;
}

.header__burger.active span{
    transform: scale(0);
    transition: all 0.3s ease;
}

.header__nav {

}

@media(max-width: 710px) {
    .header__nav {
        position: absolute;
        top: -130vh;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: #ff3572;
    }

    .header__nav.active {
        top: 0;
        z-index: 2;
        
    }
}

.header__list {
display: flex;
gap: 1rem;
}

@media(max-width: 710px) {
    .header__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        font-size: 2.8rem;
        gap: 4rem;
        padding: 6.5rem;
    }
}

.header__link {
text-align: center;
}

.header__reference {
    color: #FFFF;
    transition: all 0.3s ease;
    
}

.header__reference:hover {
    color: #52F2DF;
    text-shadow: 2px 2px 30px 10px, #52F2DF, 3px 3px 5px #000000;
    outline: #FFF;
    transition: all 0.3s ease;
}

.header__reference:active{
    position: relative;
    top: 2px;
    left: 1px;
    transition: all 0.2s ease;
    color:#45d8c7
}

.content {
    margin-top: 1.1rem;
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__inside {
width: 100%;
display: flex;
flex-direction: column;
gap: 100px;
}

.upcoming {
width: 100%;
}

.upcoming__inside {
    
}

.upcoming__heading {

}

.content__heading {
    font-size: 2.5rem;
    line-height: 60px;
    border-bottom: 1px solid #52F2DF;
    font-weight: 800;
}

.performances {

}

.perfomances__inside {
    margin-top: 3.9rem;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.perfomances__line {
    background: #FFFFFF;
    height: 1.2px;
}

.perfomance {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    row-gap: 2rem;
    width: 100%;
}

.perfomance_one {

}

.perfomance__date {
    font-size: 2.2rem;
    font-weight: 400;
    color: #848484;
    line-height: 3.2rem;
}


.perfomance__grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 60px;
    width: 100%;
}

@media(max-width: 714px) {
    .perfomance___grid {
        grid-template-columns: repeat(2, 1fr); 
        
    } 
}

.perfomance__column {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
padding: 0 8px;
}

@media(max-width: 810px) {
    .perfomance__column {
        gap: 1.5rem;
    } 
}

.perfomance__column_one {

}

@media(max-width: 810px) {
    .perfomance__column_one {
        display: none;
    } 
}

.perfomance__image {

}

.perfomance__column_two {
grid-column: 2 / 4;
}

@media(max-width: 810px) {
    .perfomance__column_two {
        grid-column: 1;
    }
}

.perfomance__heading {
font-size: 2.3rem;
font-weight: 400;
}

.perfomance__subrow {
display: flex;
justify-content: center;
gap: 1rem;
align-items: center;
font-size: 1.55rem;
}

@media(max-width: 502px) {
    .perfomance__subrow {
        flex-direction: column;
        gap: 1rem;
        align-items: start;
        justify-content: start;
    }
}

.perfomance__desc {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
}
.perfomance__icon {
    margin-left: 1.5rem;
}

@media (max-width: 502px) {
    .perfomance__icon {
        margin-left: 0;
        margin-top: 1rem;
    }
}

.perfomance__text {
    line-height: 2.5rem;
}

.perfomance__text > span {
    text-decoration: 1px underline solid;
}

.perfomance__column_three {

}

.perfomance__column_fourth {
align-items: center;
}

.perfomance__button {
background-color:#52F2DF;
width: calc(1349/1440*100%);
height: calc(377/1080*100%);
display: flex;
align-items: center;
justify-content: center;
border-radius: 20px;
}

@media(max-width: 810px) {
    .perfomance__button {
        margin: 5px;
    }
}

.perfomance__button:hover {
    transform: scale(1.05, 1.05);
    background: #ffffff;
}

.perfomance__button:hover > a {
    transform: scale(1.05, 1.05);
    color: #099b96;
    background: none;
}

.perfomance__button > a {
    font-size: 1.8rem;
    font-weight: 700;
    color: #02070D;
    text-align: center;
}

.perfomance__time {
    font-size: 2.2rem;
    font-weight: 700;
    
}

.perfomance_two {

}

.perfomance_three {

}

.perfomance_fourth {

}

.perfomance__more {
    width: 100%;
    border: 1px solid #FFF;
    border-radius: 1.52rem;
    font-size: 2.25rem;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 5px 5px 2px rgb(34, 33, 33);
}

.perfomance__more:hover {
background: #FFF;
color: #02070D;
box-shadow: 4px 4px 2px rgb(34, 33, 33);
}

.perfomance__more:active {
    position: relative;
    top: 2px;
    left: 2px;
    background: #FFF;
    color: #02070D;
    box-shadow: 2px 2px 2px rgb(34, 33, 33);
    }

.footer {
margin-top: 6rem;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
height: 210px;
}

@media(max-width: 774px) {
    .footer {
        height:max-content;
    }
}


.footer__inside {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: auto;
row-gap: 1.2rem;
border-top: 1px solid #52F2DF;
border-bottom: 1px solid #52F2DF;
height: 100%;
justify-items: center;
align-items: center;
}

@media(max-width: 774px) {
    .footer__inside {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: start;
    }
}

.footer__inside > * {
width: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
font-size: 1.75rem;
color: #FFF;
line-height: 2.5rem;
}

@media(max-width: 774px) {
    .footer__inside > * {
        align-items: start;
        justify-content: start;
    }
}

.footer__logo {
    width: 100%;
display: flex;
align-items: center;
justify-content: center;
transition: fill 0.25s ease;
}

.footer__logo > a {
    display: block;
    height: 100%;
    width: 100%;
}

.footer__logo:hover > a > svg {
    max-width: 100%;
    }

.footer__logo:hover > a > svg > path {
    fill: #2a796f;
    }

.footer__nav {

}

.footer__socials {
    
}

.footer__list {

}

.footer__list-item > a{
    color: #FFF;
}

.footer__link {

}

.footer__link:hover {
    color: #52F2DF;
    text-shadow: 2px 2px 30px 10px,ы #52F2DF, 3px 3px 5px #000000;
    outline: #FFF;
    transition: all 0.3s ease;
}

.footer__link:active{
    position: relative;
    top: 2px;
    left: 1px;
    transition: all 0.2s ease;
    color:#45d8c7
}

.footer__adress {
display: flex;
flex-direction: column;
align-items: start;
}

@media(max-width: 774px) {
    .footer__adress {
        width: 50%;
    }
}

.footer__adress > span {
text-decoration: 1px underline solid #FFF;
}

.signature {
width: 100%;
display: flex;
align-items: center;
justify-content: center;
margin: 1.9rem 0;
}

.signature__inside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 2rem;
    color: #52F2DF;
    font-size: 1.25rem;
}

@media(max-width: 774px) {
    .signature__inside {
        flex-direction: column;
        align-items: start;
        row-gap: 0.5rem;
    }
}

.signature__site {

}

.signature__developer {

}

.ticket {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 13;
background: rgba(0,0,0,0.8);
visibility: hidden;
overflow-x: hidden;
overflow-y: auto;
opacity: 0%;
display: flex;
align-items: center;
justify-content: center;
}

.ticket.active {
    opacity: 100%;
    visibility: visible;
    transition: all .25s ease; 
}

.ticket__body {
background-color: #FFF;
margin-top: 35rem;
color: #000;
position: relative;
width: calc(1111/1440*100%);
height: calc(1650/1080*100%);
padding: 2rem;
display: flex;
flex-direction: column;
row-gap: 2rem;
justify-content: center;
align-items: center;
z-index: 15;
}

@media (max-width: 1020px) {
    .ticket__body {
        height: calc(1480/1080*100%);
    }
    }

.form__close {
position: absolute;
top: 2rem;
right: 2rem;
font-size: 1.8rem;
color: #000;
}

.form__close:active {
    color: red;
}

.form__area {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 14 ;
}

.ticket__heading {
font-size: 2.25rem;
font-weight: 400;
}

.ticket__row {
display: flex;
align-items: start;
flex-direction: row;
gap: 1.25rem;
font-size: 1.12rem;
justify-content: start;
width: 100%;
}

@media (max-width: 1020px) {
    .ticket__row {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
}

.ticket__row_center {
    justify-content: center;
    width: 70%;
}

.ticket__input {
    border: 1px solid #ff3572;
    border-radius: 15px;
    line-height: 1.1rem;
    padding: .5rem;
}

.ticket__button {
    background: #52F2DF;
border-radius: .75rem;
height: 50px;
width: 12.5rem;
display: flex;
align-items: center;
justify-content: center;
font-size: 1.12rem;
}

.ticket__button:hover {
    color: #000;
    background: #FFF;
    outline: 5px solid #ff3572;
    transform: scale(1.05);
}

.ticket__subrow {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1.25rem;
    flex-wrap: wrap;
    flex-direction: column;
}

.ticket__date {
background: #52F2DF;
border-radius: .75rem;
height: 50px;
width: 12.5rem;
display: flex;
align-items: center;
justify-content: center;
}

.ticket__text {
font-size: 1.12rem;
}

.ticket__title {
display: flex;
align-items: center;
justify-content: center;
font-size: 1.6rem;
}

.ticket__line {
display: flex;
align-self: center;
justify-content: center;
width: 100%;    
}

.ticket__count {
width: 100%;
display: flex;
align-items: center;
justify-content: center;
color: rgb(255, 255, 255);
line-height: 1.5rem;
font-size: 1rem;
font-weight: 400;
text-shadow: 0 0 10px #000;
}

.ticket__count_first {
background: red;
}

.ticket__count_second {
    background: pink;
}

.ticket__count_third {
    background: orange;
}

.ticket__count_fourth {
    background: yellow;
}

.ticket__count_fifth {
    background: purple;
}

.table {
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    width: fit-content;
    justify-self: center;
}

.table__body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1rem;
}

.table__row {
gap: 1rem;
display: flex;
align-items: start;
justify-content: start;
}

@media (max-width: 1020px) {
    .table__row {
        gap: .2rem;
    }
    }

    @media (max-width: 446px) {
        .table__row {
            gap: .15rem;
        }
        }

.table__heading {

}

.table__cell {
text-align: center;
width: 1.8rem;
aspect-ratio: 1/1;
font-size: 10px;
display: flex;
align-items: center;
justify-content: center;
}

@media (max-width: 1020px) {
    .table__cell {
        width: 0.9rem;
    }
    }

    @media (max-width: 446px) {
        .table__cell {
            width: 0.8rem;
        }
        }

.table__button {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: flex;
align-items: center;
justify-content: center;
}

.table__button > span {
 display: flex;
 width: 100%;
 height: 100%;
align-items: center;
justify-content: center;
}

.table__button_pink {
background: pink;
}

.table__button_red {
background: red;
}

.table__button_orange {
background: orange;
}

.table__button_yellow {
background: yellow;
}

.table__button_purple {
background: purple;
}
