@import url('./reset.css');
@import url('./fonts.css');
@import url('./modules/header.css');
@import url('./modules/footer.css');


body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    background-color: #02070D;
    color: #FFFF;
    letter-spacing: 0.070rem;
}

@media(max-width: 710px) {
    body.lock {
        overflow: hidden;
    }
}

@media(max-width: 409px) {
    html{
        font-size: 10px;
    }
}

.wrapper {
    dipxsplay: flex;
    align-items: center;
    justfont-size: 10px;ify-content: space-between;
    flex-direction: column;
}

.container {
    max-width: calc(1191/1440*100%);
    width: 100%;
    height: 100%;
}

.content {
    margin-top: 1.1rem;
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__inside {
width: 100%;
display: flex;
flex-direction: column;
gap: 3.9rem;
}

.content__heading {
    font-size: 2.5rem;
    line-height: 60px;
    border-bottom: 1px solid #52F2DF;
    font-weight: 800;
}

.contacts {
padding: 0 2px;
}

.contacts__inside {
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: column;
row-gap: 100px;
width: 100%;
}

.contacts__heading {
width: 100%;
}

.contacts__scene {
width: 100%;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: auto;
gap: 4rem;
}

@media (max-width: 1231px) {
    .contacts__scene {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    }
}

.contacts__title {
font-size: 3.9rem;
line-height: 3.9rem;
grid-column: 1/4;
align-self: center;
justify-self: center;
text-align: left;
display: flex;
flex-wrap: wrap;
}

@media (max-width: 1231px) {
    .contacts__title {
        font-size: 2.9rem;
        }
    }

.contacts__title_top {

}

.contacts__column {
display: flex;
justify-content: space-between;
align-items: center;
height: 100%;
flex-direction: row;
}

.contacts__column_map {
    grid-column: 2/4;
    justify-self: end;
}

.contacts__column_map iframe {
width: 620px;
height: 400px;
}

@media (max-width: 1231px) {
    .contacts__column_map iframe{
            width: 100%;
            height: 400px;
    }
    .contacts__column map {
        
    }
}

.contacts__column_wide {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.contacts__row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1231px) {
    .contacts__row {
        flex-direction: column;
        align-items: start;
        gap: 3rem;
    }
}

.contacts__column_left-part {
display: flex;
width: 25%;
flex-wrap: wrap;
}

@media (max-width: 1231px) {
    .contacts__column_left-part {
        width: 100%;
    }
}

.contacts__column_left-part-two {
    display: flex;
    width: 25%;
    align-self: start;
}

@media (max-width: 1231px) {
    .contacts__column_left-part-two {
        width: 100%;
        align-self: center;
    }
}


.contacts__column_right-part {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 180px;
    flex-wrap: wrap;
}

@media (max-width: 1231px) {
    .contacts__column_right-part {
        width: 100%;
        align-items: center;
    }
}

.contacts__adress {
    height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: start;
font-size: 2.25rem;
}

@media (max-width: 1231px) {
    .contacts__adress {
        gap: 2rem;
        }
    }

.contacts__subrow {
display: flex;
align-items: center;
justify-content: start;
gap: 0.7rem;
}

.contacts__img {
align-self: start;
}

.contacts__subrow svg {
    align-self: start;
    width: 48px;
    height: 48px;
}

.contacts__adress-item {
    font-size: 2.25rem;
}

.contacts__link {
text-decoration: 1px underline #FFF;
color: #FFF;
font-size: 2.5rem;
align-self: flex-start;
margin-left: 55px;
}

.contacts__entry {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
row-gap: 125px;
}

.contacts__text {
font-size: 2.25rem;
line-height: 3.5rem;
}


.contacts__text_narrow {
margin-left: 2.5rem;
}

@media (max-width: 1231px) {
    .contacts__text_narrow {
        margin: 0;
        }
    }

.contacts__information {
display: flex;
flex-direction: column;
align-items: start;
justify-content: space-between;
gap: 100rem;
height: 100%;
}

.contacts__email-item {
font-size: 3.75rem;
line-height: 5.5rem;
display: flex;
flex-wrap: wrap;
}

@media (max-width: 1231px) {
    .contacts__email-item {
        font-size: 2.3rem;
        }
    }

.contacts__line {
width: 100%;
}

.line {
    background: #FFFFFF;
    height: 1.2px;
}

.contacts__cashbox {
display: flex;
align-items: center;
justify-content: space-between;
flex-direction: column;
}

.contacts__cashbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts__contact {

}

.contacts__number {
    display: flex;
    flex-wrap: wrap;
    font-size: 3.75rem;
    line-height: 5.5rem;
}

    @media (max-width: 1231px) {
    .contacts__number {
        font-size: 2.3rem;
        }
    }

.contacts__directorate {
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
gap: 4rem;
}

.contacts__title_tall {
    margin-bottom: 6rem;
}

.contacts__row {

}

.contacts__function {
font-size: 3.1rem;
width: 30%;
height: 100%;
line-height: 4.75rem
}

@media (max-width: 1231px) {
    .contacts__function {
        width: 100%;
        text-align: left;
    }
}

.contacts__text_aligned {
display: flex;
align-items: flex-start;
flex-direction: column;
width: 38%;
height: 100%;
}



.contacts__text_aligned u {
display: flex;
}

.contacts__text_aligned-inside {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    }

@media (max-width: 1231px) {
    .contacts__text_aligned {
        width: 100%;
        align-items: left;
    }
}

.contacts__text_aligned span {
text-decoration: 1px underline solid #FFF;
}