@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    background-color: #02070D;
    color: #FFFF;
    letter-spacing: 0.055rem;
}

@media(max-width: 710px) {
    body.lock {
        overflow: hidden;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.container {
    max-width: calc(1191/1440*100%);
    width: 100%;
    height: 100%;
}


.header {
width: 100%;
display: flex;
align-items: center;
justify-content: center;
height: 95px;
background: #02070df7;
position: sticky;
z-index: 15;
top: 0;
font-size: 1.4rem;
}

.header__inside {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.header__logo {
height: 100%;
width: calc(300/1440*100%);
display: flex;
align-items: center;
justify-content: center;
}

.header__logo > a {
    display: block;
    width: 100%;
}

.header__logo > a:nth-child(2) {
    display: none;
}

@media(max-width: 710px) {
    .header__logo > a:nth-child(1) {
        display: none;
    }
    
    .header__logo > a:nth-child(2) {
        display: block;
        width: 100%;
    }
}

.header__logo > a > svg {
    max-width: 100%;
    width: 100%;
    transition: fill 0.25s ease;
}

.header__logo:hover > a > svg > path {
fill: #2a796f;
transition: fill 0.25s ease;
}

.header__burger {
    width: 38px;
    height: 20px;
    display: none;
    position: relative;
    z-index: 5;
}

@media(max-width: 710px) {
    .header__burger {
        display: block;
    }
}

.header__burger span,  .header__burger::before, .header__burger::after{
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background: #52F2DF;
    left: 0;
    transition: all 0.3s ease;
}

.header__burger::before {
    content: "";
    top: 0;
}

.header__burger::after {
    content: "";
    top: 100%;
}

.header__burger.active::before{
    top: 50%;
    transform: rotate(45deg);
    transition: all 0.3s ease;
}

.header__burger.active::after{
    top: 50%;
    transform: rotate(-45deg);
    transition: all 0.3s ease;
}

.header__burger.active span{
    transform: scale(0);
    transition: all 0.3s ease;
}

.header__nav {

}

@media(max-width: 710px) {
    .header__nav {
        position: absolute;
        top: -130vh;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: #ff3572;
    }

    .header__nav.active {
        top: 0;
        z-index: 2;
        
    }
}

.header__list {
display: flex;
gap: 1rem;
}

@media(max-width: 710px) {
    .header__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        font-size: 2.8rem;
        gap: 4rem;
        padding: 6.5rem;
    }
}

.header__link {
text-align: center;
}

.header__reference {
    color: #FFFF;
    transition: all 0.3s ease;
    
}

.header__reference:hover {
    color: #52F2DF;
    text-shadow: 2px 2px 30px 10px, #52F2DF, 3px 3px 5px #000000;
    outline: #FFF;
    transition: all 0.3s ease;
}

.header__reference:active{
    position: relative;
    top: 2px;
    left: 1px;
    transition: all 0.2s ease;
    color:#45d8c7
}

.content {
    margin-top: 1.1rem;
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__inside {
width: 100%;
display: flex;
flex-direction: column;
gap: 100px;
}

.slider {
max-width: 1197px;
height: calc(372/1080*100%);
width: calc(1200/1440*100%);
align-self: center;

}

.slider__inside {
overflow: hidden;
max-width: 100%;
height: 100%;
background-color: #FFFF;
}

.slider__tape {
display: flex;
align-items: center;
transition: all 0.5s ease;
position: relative;
}

.slider__tape-item {

}

.slider__tape-shadow {
position: absolute;
bottom: 0;
height: 50%;
width: 100%;
background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000000 100% );
filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
display: flex;
align-items: flex-start;
justify-content: flex-end;
flex-direction: column;
padding: 45px;
gap: 10px;
}

@media(max-width: 537px) {
    .slider__tape-shadow {
        padding: 15px;
    } 
}

.slider__text {
color: #52F2DF;
font-size: 1.5rem;
font-weight: 800;
}

@media(max-width: 537px) {
    .slider__text {
        font-size: 1rem;
    } 
}

.slider__heading {
font-size: 2rem;
color: #fff;
}

@media(max-width: 537px) {
    .slider__heading {
        font-size: 1.5rem;
    } 
}

.slider__img {
max-width: 100%;
}

.slider__buttons {
display: flex;
align-items: center;
justify-content: center;
gap: 80px;
margin-top: 1.3rem;
}

.slider__button {
    background: none;
}

.slider__button > svg > path {
    fill: #FFF;
}

.slider__button:hover > svg > path {
fill: #52F2DF;
}

.slider__button-desc {
    display: block;
    height: 100%;
}

.upcoming {
width: 100%;
}

.upcoming__inside {
    
}

.upcoming__heading {

}

.content__heading {
    font-size: 2.5rem;
    line-height: 60px;
    border-bottom: 1px solid #52F2DF;
    font-weight: 800;
}

.performances {

}

.perfomances__inside {
    margin-top: 3.9rem;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.perfomances__line {
    background: #FFFFFF;
    height: 1.2px;
}

.perfomance {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 60px;
}

@media(max-width: 714px) {
    .perfomance {
        grid-template-columns: repeat(2, 1fr); 
        
    } 
}

.perfomance_one {

}

.perfomance__column {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-between;
padding: 0 10px;
}

@media(max-width: 714px) {
    .perfomance__column {
        gap: 1.5rem;
    } 
}

.perfomance__column_one {

}

@media(max-width: 714px) {
    .perfomance__column_one {
        display: none;
    } 
}

.perfomance__image {

}

.perfomance__column_two {
grid-column: 2 / 4;
}

@media(max-width: 714px) {
    .perfomance__column_two {
        grid-column: 1;
    }
}

.perfomance__heading {
font-size: 2.3rem;
font-weight: 400;
}

.perfomance__subrow {
display: flex;
justify-content: center;
gap: 0.8rem;
align-items: center;
font-size: 1.55rem;
}

.perfomance__desc {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
}
.perfomance__icon {

}

.perfomance__text {
    
}

.perfomance__text > span {
    text-decoration: 1px underline solid;
}

.perfomance__column_three {

}

.perfomance__column_fourth {
align-items: center;
}

.perfomance__button {
background-color:#52F2DF;
width: calc(1349/1440*100%);
height: calc(377/1080*100%);
display: flex;
align-items: center;
justify-content: center;
border-radius: 20px;
}

@media(max-width: 714px) {
    .perfomance__button {
        margin: 10px;
    }
}

.perfomance__button:hover {
    transform: scale(1.05, 1.05)
}

.perfomance__button > a {
    font-size: 1.8rem;
    font-weight: 700;
    color: #02070D;
    text-align: center;
}

.perfomance__date {
    font-size: 2.2rem;
    font-weight: 700;

}

.perfomance__time {
    font-size: 2.2rem;
    font-weight: 700;
    
}

.perfomance_two {

}

.perfomance_three {

}

.perfomance_fourth {

}

.people {

}

.people__inside {
display: flex;
flex-direction: column;
gap: 3.8rem;
justify-content: center;
}

.people__heading {

}

.people__list {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: auto;
justify-items: center;
justify-content: center;
}

@media(max-width: 1154px) {
    .people__list {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
}

.people__person > a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
}

.people__person:hover > a > img {
outline: 8px solid #52F2DF;
max-width: 100%;
}

.people__person:hover > a > h3{
    color: #ff3572;
    }

.people__person_one {

}

.people__photo {
border-radius: 500px;
}

.people__name {
font-weight: 400;
font-size: 2.2rem;
color: #FFF;
text-align: center;
}

.people__person_two {

}

.people__person_three {

}

.news {

}

.news__inside {
display: flex;
flex-direction: column;
justify-content: center;
gap: 3.8rem;
}

.news__heading {

}
.news__posts {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: auto;
row-gap: 4.5rem;
gap: 5rem;
}

@media(max-width: 900px) {
    .news__posts {
        display: flex;
        flex-direction: column;
        row-gap: 5rem;
    }
}


.news__post {
display: flex;
flex-direction: column;
align-items: flex-start;
row-gap: 0.6rem;
}


.news__post_first {

}

.news__post-heading {
font-size: 2.15rem;
text-decoration: 1px underline solid #FFF;
line-height: 3.7rem;
cursor: pointer;
font-weight: 400;
}

.news__post-heading:hover {
    text-decoration: none;
    color:rgba(255, 255, 255, 0.61);
}

.news__post-date {
font-size: 1.7rem;
color: #848484;
}

.news__post_second {

}

.news__post_thirth {

}

.news__post_fourth {

}

.news__post_fifth {

}

.news__post_sixth {
}

.partners {

}

.partners__inside {
display: flex;
flex-direction: column;
gap: 3.8rem;
}

.partners__heading {

}

.partners__list {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
row-gap: 5rem;
}

.partners__partner {
    height: 100%;
    width: 100%;
}

.partners__partner > a {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
color: #FFF;
}

.partners__partner_one > img {

}

.parnters__image {
max-width: 100%;
}

.parnters__image:hover {
opacity: 65%;
}

.partners__title {
font-size: 2.2rem;
font-weight: 400;
text-align: center;
width: 100%;
}

.partners__partner_two {

}

.footer {
margin-top: 6rem;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
height: 210px;
}

@media(max-width: 774px) {
    .footer {
        height:max-content;
    }
}


.footer__inside {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: auto;
row-gap: 1.2rem;
border-top: 1px solid #52F2DF;
border-bottom: 1px solid #52F2DF;
height: 100%;
justify-items: center;
}

@media(max-width: 774px) {
    .footer__inside {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

.footer__inside > * {
width: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 10px;
font-size: 1.75rem;
color: #FFF;
line-height: 2.5rem;
}

@media(max-width: 774px) {
    .footer__inside > * {
        align-items: start;
        justify-content: start;
    }
}

.footer__logo {
    width: 100%;
display: flex;
align-items: center;
justify-content: center;
transition: fill 0.25s ease;
}

.footer__logo > a {
    display: block;
    height: 100%;
    width: 100%;
}

.footer__logo:hover > a > svg {
    max-width: 100%;
    }

.footer__logo:hover > a > svg > path {
    fill: #2a796f;
    }

.footer__nav {

}

.footer__socials {
    
}

.footer__list {

}

.footer__list-item > a{
    color: #FFF;
}

.footer__link {

}

.footer__link:hover {
    color: #52F2DF;
    text-shadow: 2px 2px 30px 10px,ы #52F2DF, 3px 3px 5px #000000;
    outline: #FFF;
    transition: all 0.3s ease;
}

.footer__link:active{
    position: relative;
    top: 2px;
    left: 1px;
    transition: all 0.2s ease;
    color:#45d8c7
}

.footer__adress {
display: flex;
flex-direction: column;
align-items: start;
}

@media(max-width: 774px) {
    .footer__adress {
        width: 50%;
    }
}

.footer__adress > span {
text-decoration: 1px underline solid #FFF;
}

.signature {
width: 100%;
display: flex;
align-items: center;
justify-content: center;
margin: 1.9rem 0;
}

.signature__inside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 2rem;
    color: #52F2DF;
    font-size: 1.25rem;
}

@media(max-width: 774px) {
    .signature__inside {
        flex-direction: column;
        align-items: start;
        row-gap: 0.5rem;
    }
}

.signature__site {

}

.signature__developer {

}