*{
    padding: 0;
    margin: 0;
    border: 0;
    transition: all 0.25 ease; 
}

header, footer > * {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

*::selection, *::-moz-selection{
background-color: #52F2DF;
color: #02070D;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
background: #051323;
box-shadow: 0 0 2px rgba(0,0,0,.2) inset;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #52f2dfa8, #29948783);
    opacity: 25%;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #52F2DF, #299487);
}

*,*:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav, footer, header, aside{display: block;}

html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input, button, textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0; border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
path{ fill:inherit; stroke:inherit; }