.ticket {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 13;
    background: rgba(0,0,0,0.9);

    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .ticket.active {
        opacity: 100%;
        visibility: visible;
        transition: all .25s ease; 
    }
    
    .ticket__body {
    background-color: #FFF;
    margin-top: 35rem;
    color: #000;
    position: relative;
    width: calc(1111/1440*100%);
    height: fit-content;
    padding: 2rem;
    z-index: 15;
    display: flex;
        flex-direction: column;
        row-gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    
    @media(max-width: 717px) {
        .ticket__body {
            height: calc(1191/1080*100%); 
        }  
    }
    
    .form__close {
    position: absolute;
    top: .8rem;
    right: .8rem;
    }
    
    .form__close svg {
    
    }
    
    .form__close:active svg{
    fill: red;
    }
    
    .form__area {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 14 ;
    }
    
    .ticket__heading {
    font-size: 2.25rem;
    font-weight: 400;
    }
    
    .ticket__row {
    display: flex;
    align-items: start;
    flex-direction: row;
    gap: 1.25rem;
    font-size: 1.12rem;
    justify-content: start;
    width: 100%;
    }
    
    @media (max-width: 1020px) {
        .ticket__row {
            flex-direction: column;
            justify-content: start;
            align-items: start;
        }
    }
    
    .ticket__row_center {
        justify-content: center;
        width: 70%;
    }
    
    .ticket__input {
        border: 1px solid #ff3572;
        border-radius: 15px;
        line-height: 1.1rem;
        padding: .5rem;
    }
    
    .ticket__button {
        background: #52F2DF;
    border-radius: .75rem;
    height: 50px;
    width: 12.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.12rem;
    }
    
    .ticket__button:hover {
        color: #000;
        background: #FFF;
        outline: 5px solid #ff3572;
        transform: scale(1.05);
    }
    
    .ticket__subrow {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 1.25rem;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .ticket__date {
    background: #52F2DF;
    border-radius: .75rem;
    height: 50px;
    width: 12.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .ticket__text {
    font-size: 1.12rem;
    }
    
    .ticket__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    }
    
    .ticket__line {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 78%;    
    }
    
    @media(max-width: 717px) {
        .ticket__line {
            width: 100%; 
        }  
    }
    
    .ticket__count {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    text-shadow: 0 0 10px #000;
    }
    
    
    .ticket__count_first {
    background: red;
    }
    
    .ticket__count_second {
        background: pink;
    }
    
    .ticket__count_third {
        background: orange;
    }
    
    .ticket__count_fourth {
        background: yellow;
    }
    
    .ticket__count_fifth {
        background: purple;
    }
    
    .table {
        display: flex;
        align-items: center;
        justify-content: center;
        row-gap: 2rem;
        width: fit-content;
        justify-self: center;
    }
    
    .table__body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 1rem;
    }
    
    .table__row {
    gap: 1rem;
    display: flex;
    align-items: start;
    justify-content: start;
    }
    
    @media (max-width: 1020px) {
        .table__row {
            gap: .2rem;
        }
        }
    
        @media (max-width: 446px) {
            .table__row {
                gap: .15rem;
            }
            }
    
    .table__heading {
    
    }
    
    .table__cell {
    text-align: center;
    width: 1.8rem;
    aspect-ratio: 1/1;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    @media (max-width: 1020px) {
        .table__cell {
            width: 0.9rem;
        }
        }
    
        @media (max-width: 446px) {
            .table__cell {
                width: 0.8rem;
            }
            }
    
    .table__button {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .table__button > span {
     display: flex;
     width: 100%;
     height: 100%;
    align-items: center;
    justify-content: center;
    }
    
    .table__button_pink {
    background: pink;
    }
    
    .table__button_red {
    background: red;
    }
    
    .table__button_orange {
    background: orange;
    }
    
    .table__button_yellow {
    background: yellow;
    }
    
    .table__button_purple {
    background: purple;
    }