.slider {
    max-width: 1197px;
    height: calc(372/1080*100%);
    width: calc(1200/1440*100%);
    align-self: center;
    
    }
    
    .slider__inside {
    overflow: hidden;
    max-width: 100%;
    height: 100%;
    background-color: #FFFF;
    }
    
    .slider__tape {
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
    position: relative;
    }
    
    .slider__tape-item {
    
    }
    
    .slider__tape-shadow {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000000 100% );
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding: 45px;
    gap: 10px;
    }
    
    @media(max-width: 537px) {
        .slider__tape-shadow {
            padding: 15px;
        } 
    }
    
    .slider__text {
    color: #52F2DF;
    font-size: 1.5rem;
    font-weight: 800;
    }
    
    @media(max-width: 537px) {
        .slider__text {
            font-size: 1rem;
        } 
    }
    
    .slider__heading {
    font-size: 2rem;
    color: #fff;
    }
    
    @media(max-width: 537px) {
        .slider__heading {
            font-size: 1.5rem;
        } 
    }
    
    .slider__img {
    max-width: 100%;
    }
    
    .slider__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-top: 1.3rem;
    }
    
    .slider__button {
        background: none;
    }
    
    .slider__button > svg > path {
        fill: #FFF;
    }
    
    .slider__button:hover > svg > path {
    fill: #52F2DF;
    }
    
    .slider__button-desc {
        display: block;
        height: 100%;
    }